/*News*/
.ul-news {
    list-style: none;
}
.ul-news li{
    padding: 15px 0;
    border-top: 2px solid #ffb22e;
}
.img-news1 {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
.img-news2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%)
}
.img-news1 img,
.img-news2 img{
    aspect-ratio: 16 / 9;
    width: 100%;
}
.title-news {
    font-weight: 700;
    text-transform: uppercase;    
    font-size: 16px;
    color: #af4417;
}